/* Universal Indicators */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Merienda';
    src: url('./Fonts/Merienda.woff2') format('woff2'), /* Ensure the correct font file path and format */
url('./Fonts/Merienda.woff') format('woff');
}

.merienda {
    font-family: 'Merienda', cursive;
    font-weight: 500; /* Correct font-weight value */
}

body {
    font-family: 'Merienda', cursive;
}



.logo-pic {
    display: flex;
    flex-direction: row;
   justify-content: right;
    height: auto;
    min-width: 100%;
    width: 100px;
    border-radius: 50%;
}

.hero {
    background-image: url('./Assets/bg2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 700px;


}
.hero-image{
    max-width: 100%;
    height: 100px;
    image-rendering: crisp-edges;
    

}


.hero-content {
    display: inline-block;
    background:linear-gradient(to right, rgba(105, 29, 29, 0.617),rgb(2, 1, 1));
    padding: 10px;
    border-radius: 60px;
    color: #f9f9f7;
    max-width: 100%;
    
}

button {
    border: none;
    background-color: #4CAF50;
    border-radius: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #8f928f;
}
.SSD {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    height: auto;
}

.s2, .SSD-PIC1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
    gap: 20px;
    transition: transform 0.2s ease-in-out;
}

.SSD-PIC1:hover {
    transform: scale(1.2);
}

.SSD-PIC {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
li a .navbar{
    display: block; 
}

.SSD-PIC:hover {
    transform: scale(1.2);
}
.main {
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
}

.header {
    font-size: 2em;
    margin-bottom: 0;
}

.page {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.6;
}

h2, p {
    display: flex;
    justify-content: center;
}


.contact {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #34343330;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(8, 8, 8, 0.1);
    font-weight: bolder;
    font-size: larger;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    font-size: larger;
}

.contact input, .contact textarea {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 30px;
    resize: none;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    padding: 10px;
   
    
}

.contact button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    font-size: larger;
}

.contact button:hover {
    background-color: #308204;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #0a0707;
    color: #fff;
    width: 100%;
    margin-top: 0;
   
}

.year, .page {
    padding: 6px;
    font-size: larger;
}
.brand, .peak, .row, .cols{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100px;
    justify-content: center;
    padding: 2px;
    align-items: center;
    gap: 5px;
   
  
}
img{
  border-radius: 10%;
  height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Website Responsive: Target small screens (Mobile phones) */
@media (max-width: 600px) {
    .SSD, .s2 {
        width: 100%;

    }
    .navbar {
        display: flex;
        flex-direction: column; /* Adjust layout for smaller screens */
        align-items: center;
        padding: 20px;
        background-color: #020303;
        color: #fff;
        font-family: 'Merienda', cursive;
        font-weight: bolder;
        text-align: center; /* Center text for mobile screens */
        position: fixed;
        width: 100%;
       
    }

    .navbar a {
        color: #fff;
        flex-direction: row;
        text-decoration: none;
        padding: 10px 15px; /* Adjust padding for better spacing */
        display: inline-block; /* Ensure links are block-level for easier clicking */
        background-color: #020303; /* Consistent background color */
        margin-bottom: 10px; /* Space between links */
        border-radius: 20px; /* Rounded corners */
        text-align: left; /* Center text inside links */
    }

    .navbar a:hover {
        background-color: #8f928f4e;
        border-radius: 20px; /* Maintain rounded corners on hover */
        padding: 10px; /* Consistent padding on hover */
    }
    li a:hover {
        border-radius: 20px;
        background-color: #373636;
    }
    .btn-SignUp {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
    }
    .footer-image {
        display: inline;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        height: 200px;
        transition: transform 0.3s ease-in-out;
    }
    .footer-image:hover {
        transform: scale(2.2);
    }
    .video{
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        position:relative; 
    }
    .video h5, .video p{
        font-size: 24px;
        color: black;
        text-align: center;
        margin: 10px;
    }
        .video video{
            width: 100%;
            height: auto;
            display: block;
            border-radius: 40px;
        }
}


       
   


/* Website Responsive: handle larger screens (Desktops) */
@media (min-width: 1024px) {
    .SSD {
        width: 25%;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #020303;
        color: #fff;
        font-family: 'Merienda', cursive;
        font-weight: bolder;
        text-align: left;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .navbar a:hover {
        background-color: #8f928f4e;
        border-radius: 40px;
        padding: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
    }

    li a:hover {
        border-radius: 20px;
        background-color: #373636;

    } 
    .video{
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        position:relative; 
    }
    .video h1, .video p{
        font-size: 24px;
        color: black;
        text-align: center;
        margin: 10px;
    }
        .video video{
            width: 100%;
            height: auto;
            display: block;
            border-radius: 40px;
        }  
}

/* Website Responsive: handle screen orientation (portrait vs landscape) */
@media (orientation: landscape) {
    .SSD {
        width: 50%;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #020303;
        color: #fff;
        font-family: 'Merienda', cursive;
        font-weight: bolder;
        text-align: left;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .navbar a:hover {
        background-color: #8f928f4e;
        border-radius: 40px;
        padding: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
    }
    .video{
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        position:relative; 
    }
    .video h5, .video p{
        font-size: 24px;
        color: black;
        text-align: center;
        margin: 10px;
    }
        .video video{
            width: 100%;
            height: auto;
            display: block;
            border-radius: 40px;
        }
}