/* Universal Indicators */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Merienda;
    background-color: #ffffff;
    
}

@font-face {
    font-family: 'Merienda','gabrela-regular';
    src: url('./Fonts/Merienda.woff2') format('woff2')
url('./Fonts/Merienda.woff') format('woff');
src: url('./Fonts/Rancho/Rancho-Regular.ttf') format('woff2')
url('./Fonts/Rancho/Rancho-Regular.ttf') format('woff');

}

.merienda {
    font-family: 'Merienda', cursive;
    font-weight: 500; 
}
.gabriela-regular {
    font-family:"rancho-regular";
    font-weight: 400;
    font-style: normal;
  }
  .nova-cut-regular {
  font-family: "Nova Cut", system-ui;
  font-weight: 400;
  font-style: normal;
}

.logo-pic {
    display: block;
    justify-content: right;
    height: auto;
    min-width: 100px;
    width: 10px;
    background-color: #000000;
    padding: 20px;
    border-radius: 50px;
   
}
.hero, button{
    padding: 10px;
    gap: 20px;
}



button,.btn-SignUp {
    border: none;
    background-color: #4CAF50;
    border-radius: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #81d781;
}
.SSD-PIC2 {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px;
    border-radius: 20px;
    margin: auto;
    height: auto;
}

.s2 .SSD-PIC2{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 100%;
    border-radius: 40px;
    cursor: pointer;
    gap: 20px;
    
    
}
/* Players Moments During Olympics in collection of 6 */
.SSD{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    
    
   
}
.small-container{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}
.col-1 {
    flex: 1; 
    display: block;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
.col-7{
    flex: 1; 
    display: inline-block;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    

}

.col-1 img {
    width: 100px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;


}
.col-1 img:hover {
   
    transform: translateY(-5px);
    
}
.SSD h1{
   text-align:  center;
}



li a .navbar{
    display: block; 
}

.col-1:hover {
    transition: transform 0.3s ease-in-out; 
}
.main {
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
}

.header {
    font-size: 2em;
    margin-bottom: 0;
}

.page {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.6;
}


h2, p, h5 {
    display: flex;
    justify-content: center;
}


.contact {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #34343330;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(8, 8, 8, 0.1);
    font-weight: bolder;
    font-size: larger;

}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    font-size: larger;
}

.contact input, .contact textarea {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 30px;
    resize: none;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    padding: 10px;
}

.contact button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Merienda', cursive;
    font-weight: bolder;
    font-size: larger;
}

.contact button:hover {
    background-color: #308204;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    width: 100%;
    margin-top: 0;
   
}

.year, .page {
    padding: 6px;
    font-size: larger;
}
.brand, .peak,.cols,.goss,.road{
    height: auto;
    display:flex;
    flex-wrap: wrap;
    min-width: 100px;
    justify-content:center;
    padding: 2px;
    align-items: center;
    gap: 2px;
}
img{
  border-radius: 10%;
  height: 100px;

 
}


.roster {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.roster, .s2, .video h1 {
    text-align: center;
    color: #000000;
}

/* Container for Player Information */
.player, .staff {
    flex: 25%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #eaeaea;
}


/* Image Styling */
.staff,.player img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Player Information */
.player p {
    margin: 5px 0;
    color: #000000;
}

/* Section Styles */
.guard, .forward, .center, .wing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;

}

.guard .player, .forward .player, .center .player, .wing, .player {
    flex: 1;
    box-sizing: border-box;
    transition: transform 0.5s;
}
.player:hover {
    transform: translateY(-10px);
}

/* Responsive Design */
@media (min-width: 720px){
    .guard .player, .forward .player, .center .player, .wing, .player {
        flex: 1;
    }
}
@media (max-width: 600px){
    .guard .player, .forward .player, .center .player, .wing, .player {
        flex: 1;
    }
}


/* Website Responsive: Target small screens (Mobile phones) */
@media (max-width: 600px){
    .SSD, .s2 {
        width: 100%;

    }
    .navbar {
        display: flex;
        flex-direction: row; 
        padding: 5px;
        justify-content: space-between;
        background-color: #000000;
        color: #fff;
        font-family: 'nova cut', sans-serif;
        font-weight: bolder;
        text-align: right; 
        position: block;
        width:100%;
       
    }

    .navbar a {
        color: #fff;
        flex-direction: row;
        text-decoration: none;
        padding: 10px 15px;
        display: flex; 
        background-color: #000000; 
        margin-bottom: 10px; 
        border-radius: 20px;

        justify-content: center; 
    }

    .navbar a:hover {
        background-color: #8f928f4e;
        border-radius: 20px; 
        padding: 10px; 
    }
    li a:hover {
        border-radius: 20px;
        background-color: #373636;
    }
    .btn-SignUp {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
    }
    .footer-image {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    .footer-image:hover {
        transform: scale(2.2);
    }
    .video{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        padding: 10px; 
    

    }
    .video h5, .roster h5, .s2 h1 .video p{
        width: 100%;
        font-size: 24px;
        color: black;
        text-align: center;
        margin: 10px;
    }
        .video video{
            max-width: 640;
            width: 100%;
            height: auto;
            border-radius: 40px;
            padding: 15px;
        
    
        }
        .hero {
            background-image: url("./Assets/SSDlogo1.jpeg");
            background-size:auto;
            background-position:center;
            background-repeat: no-repeat;
            height: auto;
            display: inline-block;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
            padding: 10px;
        }
        .hero-image{
            max-width: 100%;
            height: auto;
            image-rendering: crisp-edges;
        }
        
        .hero-content {
            display: inline-block;
            background:linear-gradient(to right, rgba(0, 0, 0, 0.58),rgb(0, 0, 0));
            padding: 0px;
            border-radius: 5px;
            color: #ffffff;
            max-width: 100%;
            margin-top:250px;
        
        }    
}
/* Website Responsive: handle larger screens (Desktops) */
@media (min-width: 1024px) {
    .SSD{
        width: 25%;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #000000;
        color: #fff;
        font-family: "nova cut";
        font-weight: bolder;
        text-align: left;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .navbar a:hover {
        background-color: #8f928f4e;
        border-radius: 40px;
        padding: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
    }

    li a:hover {
        border-radius: 20px;
        background-color: #373636;

    } 
    .video{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        flex-direction: row;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
        position:block; 
        gap: 30px;
    }
    .video h1, .roster h5, .s2 h1, .video p{
        font-size: 24px;
        color: black;
        text-align: center;
        margin: 10px;
    }
        .video video{
            display: flex;
            max-width: 100%;
            width: 100%;
            height: auto;
            border-radius: 40px;
        }
        
        .hero {
            background-image: url("./Assets/SSDlogo1.jpeg");
            background-size:auto;
            background-position:center;
            background-repeat: no-repeat;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
            padding: 10px;
            padding-top: 550px; 
        }
        .hero-image{
            max-width: 100%;
            height: 100px;
            image-rendering: crisp-edges;
        }
        
        .hero-content {
            display: inline-block;
            background:linear-gradient(to right, rgba(0, 0, 0, 0.58),rgba(0, 0, 0, 0.937));
            padding: 10px;
            border-radius: 10px;
            color: #ffffff;
            max-width: 100%;
            margin-top:2px;
            
        }    
}

/* Website Responsive: handle screen orientation (portrait vs landscape) */
@media (orientation: landscape) {
    .SSD{
        width: 50%;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #000000;
        color: #fff;
        font-family: 'nova cut';
        font-weight: bolder;
        text-align: left;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .navbar a:hover {
        background-color: #8f928f4e;
        border-radius: 40px;
        padding: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
    }
    .video{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
        position:block; 
        gap: 10px;
    }
    .video h5, .roster h5 , .s2 h1 .video p{
        font-size: 24px;
        color: black;
        text-align: center;
        margin: 10px;
    }
        .video video{
            max-width: 100%;
            width: 100%;
            height: auto;
            border-radius: 40px;
        }
}
.road{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: auto;
}